.F-main {
  background-color: #000; 
  width: 100%;
}
.footer {
  width: 100%;
  background-color: #000; 
  color: #ffffff; 
  display: flex;
  justify-content: space-around;
  padding: 3rem 10rem;
  gap: 3rem;
  flex-wrap: wrap;
}
.apps {
  width: 18rem;
}
.apps h3 {
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  padding-left: 2rem;
}
.apps p {
  color: #bfbfbf; 
  margin-bottom: 1rem;
  font-size: 15px;
  padding-left: 2rem;
}
.apps img {
  width: 100%;
  height: 4rem;
  object-fit: contain;
  margin-bottom: 0.8rem;
}
.second-col {
  width: 28rem;
  text-align: center;
}
.second-col img {
  width: 180px;
  margin-bottom: 1rem;
}

.second-col p {
  font-size: 15px;
  color: #bfbfbf; 
  line-height: 1.5;
}
.social-profile {
  width: 18rem;
}
.social-profile h3 {
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}
.social-profile ul {
  padding: 0;
}
.social-profile ul li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #bfbfbf;
  transition: 0.2s ease;
}
.social-profile ul li:hover {
  color: #ffffff;
}
.bottom {
  width: 94rem;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
}
.bottom p {
  color: #bfbfbf;
  font-size: 15px;
}
/* media query */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }
  .apps,
  .second-col,
  .social-profile {
    width: 100%;
    text-align: center;
  }
}