/* NAVBAR MAIN STYLE */
/* NAVBAR MAIN STYLE */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: transparent;
  padding:  0 0rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

/* LOGO */
.logo img {
  width: 9rem;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #6a11cb;
}

/* LOGIN BUTTON */
.login-btn {
  padding: 8px 18px;
  background: #6a11cb;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.login-btn:hover {
  background: #4c0fa9;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.bar {
  width: 28px;
  height: 3px;
  background: black;
  transition: 0.4s;
}

/* Animations */
.rotate1 {
  transform: rotate(45deg) translate(5px, 6px);
}

.hide {
  opacity: 0;
}

.rotate2 {
  transform: rotate(-45deg) translate(5px, -6px);
}


/* ---------------- RESPONSIVE ---------------- */

/* Large Screens */
@media (min-width: 1600px) {
  .navbar {
    padding: 0 0rem;
  }
}

/* Tablets */
@media (max-width: 992px) {
  .navbar {
    padding: 0 0rem;
  }

  .nav-links a {
    font-size: 16px;
  }
}

/* Phones */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 100%;
    height: 300px;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0rem;
    gap: 25px;
    transition: 0.4s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links a {
    font-size: 20px;
    color: #333;
    padding-left: 2rem;
  }

  .login-btn {
    width: 150px;
    font-size: 17px;
  }
}

/* Small Phones */
@media (max-width: 480px) {
  .navbar {
    padding: 0 0rem;
  }

  .logo img {
    width: 7rem;
  }
}
